.box {
  text-align: center;
  min-height: 400px;
  position: relative;
  float: left;
}
.box div {
  vertical-align: middle;
}
.quarter {
  width: 25%;
}
.half {
  width: 50%;
}
.whole {
  width: 100%;
}
:before,
:after {
  content: "";
  display: block;
}
/*{{{盾牌*/
#shield {
  margin: 50px auto;
  width: 200px;
  height: 200px;
  padding: 10px;
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0) 65%), -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0) 65%), -webkit-radial-gradient(#10239b 30px, #d32526 30px, #d32526 38%, #d6d6d6 38%, #d6d6d6 55%, #d32526 55%, #d32526 70%);
  border-radius: 50%;
  box-shadow: 1px 2px 0 #a20917;
  position: relative;
}
#shield:before {
  content: "★";
  font-size: 59px;
  position: absolute;
  color: #fff;
  top: 64px;
  left: 80px;
  text-shadow: 1px 1px 0 #333;
}
#shield:after {
  position: absolute;
  top: 150px;
  left: 10%;
  width: 80%;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0px 80px 15px #333;
}
/*}}}*/
/*{{{ rss 订阅图标*/
#rss {
  margin: 100px auto;
  width: 200px;
  height: 200px;
  border-radius: 15%;
  background-image: -webkit-radial-gradient(50% -400px, circle, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 500px, transparent 500px), -webkit-linear-gradient(top, #fa7105, #f6a21b);
  position: relative;
  box-shadow: 1px 4px 8px #666;
  overflow: hidden;
}
#rss:before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 180px;
  height: 180px;
  border: 5px solid rgba(255, 255, 255, 0.5);
  border-radius: 15%;
}
#rss .rss {
  width: 70%;
  height: 70%;
  background: -webkit-radial-gradient(20px 120px, circle, #ffffff 0px, #ffffff 20px, transparent 20px), -webkit-radial-gradient(bottom left, circle, transparent 35%, #ffffff 35%, #ffffff 49%, transparent 49%, transparent 56%, #ffffff 56%, #ffffff 70%, transparent 70%);
  position: relative;
  top: 13%;
  left: 15%;
}
/*}}}*/
/*{{{铅笔*/
#pincel {
  width: 280px;
  height: 54px;
  background: -webkit-linear-gradient(top, #f6d272 0%, #feda7c 20%, #d87706 20%, #edb425 75%, #c1701e 75%, #a2611d 100%);
  position: relative;
  margin: 150px auto;
}
#pincel:after {
  background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0) 10px, rgba(0, 0, 0, 0.5) 11px, rgba(255, 255, 255, 0.9) 11px, rgba(255, 255, 255, 0) 12px), -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0) 20px, rgba(0, 0, 0, 0.5) 21px, rgba(255, 255, 255, 0.9) 21px, rgba(255, 255, 255, 0) 22px), -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0) 30px, rgba(0, 0, 0, 0.5) 31px, rgba(255, 255, 255, 0.9) 31px, rgba(255, 255, 255, 0) 32px), -webkit-linear-gradient(top, #686868 0%, #ebebeb 20%, #9d9b9c 20%, #ffffff 40%, #8f8f8f 50%, #ffffff 60%, #727270 80%, #979797 90%, #595959 100%);
  height: 54px;
  position: absolute;
  width: 42px;
  right: -42px;
  top: 0;
  box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.5);
}
#pincel:before {
  height: 54px;
  position: absolute;
  border-radius: 0% 40% 40% 0%;
  width: 42px;
  right: -84px;
  background: #c64f39;
  top: 0;
  box-shadow: inset 1px 0px 3px rgba(0, 0, 0, 0.5);
}
#pincel .p1 {
  /* background:  */
  /* -webkit-linear-gradient(246deg, transparent 0px, transparent 50px, #fff 50px), */
  /* -webkit-linear-gradient(259deg, transparent 0px, transparent 39px, #9c6637 39px), */
  /* -webkit-linear-gradient(285deg, transparent 0px, transparent 27px, #ce8a4d 27px, #ce8a4d 54px), */
  /* -webkit-linear-gradient(295deg, transparent 0px, transparent 24px, #e0b183 24px); */
  height: 54px;
  display: block;
  position: absolute;
  width: 60px;
  left: -60px;
  top: 0;
}
#pincel .p1:before {
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden;
  border: 27px solid transparent;
  border-right-color: #9c6637;
  border-right-width: 60px;
  position: absolute;
  left: -27px;
  top: 0px;
}
#pincel .p1:after {
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden;
  border: 10px solid transparent;
  border-right-color: #000;
  border-right-width: 20px;
  position: absolute;
  left: -9px;
  top: 17px;
}
/*}}}*/
/*{{{wamp图标*/
#wamp {
  width: 140px;
  height: 140px;
  margin: 100px auto;
  overflow: hidden;
  position: relative;
  font-size: 100px;
  line-height: 140px;
}
#wamp:before {
  border: 20px solid #ff0198;
  border-bottom: none;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  width: 100px;
  height: 45px;
  position: absolute;
  top: 0;
  left: 0;
}
#wamp:after {
  border: 20px solid #ff0198;
  border-top: none;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 100px;
  height: 45px;
  position: absolute;
  bottom: 0;
  left: 0;
}
#wamp .w {
  position: absolute;
  left: 35px;
  top: 35px;
  width: 70px;
  height: 70px;
  border-radius: 20px;
  background-image: -webkit-linear-gradient(0deg, #ff0198 20%, rgba(255, 1, 152, 0) 20%), -webkit-linear-gradient(0deg, rgba(255, 1, 152, 0) 80%, #ff0198 80%), radial-gradient(circle at 25% 70%, transparent 0%, transparent 10%, #ff0198 10%, #ff0198 30%, transparent 30%);
}
/*}}}*/
#gossip {
  width: 200px;
  height: 200px;
  margin: 100px auto 0;
  border: 1px solid #000;
  border-radius: 50%;
  background-image: radial-gradient(circle at 50% 75%, #ffffff 0%, #ffffff 10%, #000000 10%, #000000 28%, transparent 28%), radial-gradient(circle at 50% 25%, #000000 0%, #000000 10%, #ffffff 10%, #ffffff 28%, transparent 28%), linear-gradient(90deg, #ffffff 50%, transparent 50%), linear-gradient(90deg, #000000 50%, #000000 100%);
  -webkit-animation-name: 'gossoprun';
  /*动画名称*/
  -webkit-animation-duration: 3s;
  /*播放一次所持续时间*/
  -webkit-animation-timing-function: linear;
  /*动画播放频率*/
  -webkit-animation-iteration-count: infinite;
  /*动画播放次涒为无限次*/
  -webkit-animation-play-state: paused;
}
#gossip:hover {
  -webkit-animation-play-state: running;
}
@-webkit-keyframes 'gossoprun' {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#oil {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 100px auto 0;
  border: 3px solid #a9b1b4;
  border-radius: 50%;
  background-image: radial-gradient(circle at 50% 51%, #000000 0%, #000000 50%, transparent 50%), radial-gradient(circle at 50% 49%, #9fa8b1 0%, #9fa8b1 50%, transparent 50%), -webkit-linear-gradient(top, #f8fcff, #d3dde9);
}
#oil:after {
  width: 133px;
  height: 133px;
  border-radius: 50%;
  margin: 34px auto;
  background-image: -webkit-radial-gradient(50% -120px, circle, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.3) 200px, transparent 200px), radial-gradient(circle at 50% 50%, #ffffff 0%, #ffffff 10%, transparent 10%), radial-gradient(circle at 50% 50%, #000000 0%, #000000 55%, transparent 55%), linear-gradient(0deg, #000000 0%, #000000 40%, transparent 40%), linear-gradient(0deg, transparent 49%, #ffffff 49%, #ffffff 51%, transparent 51%), linear-gradient(30deg, transparent 49%, #ffffff 49%, #ffffff 51%, transparent 51%), linear-gradient(60deg, transparent 49%, #ffffff 49%, #ffffff 51%, transparent 51%), linear-gradient(-30deg, transparent 49%, #ffffff 49%, #ffffff 51%, transparent 51%), linear-gradient(-60deg, transparent 49%, #ffffff 49%, #ffffff 51%, transparent 51%), linear-gradient(90deg, transparent 49%, #ffffff 49%, #ffffff 51%, transparent 51%);
}
#oil:before {
  content: '0 1 0';
  font-family: arial;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  width: 45px;
  height: 22px;
  position: absolute;
  border: 1px solid #879ac2;
  top: 125px;
  left: 76px;
  border-radius: 5px;
  box-shadow: inset 0 0 1px #333;
  background-image: linear-gradient(90deg, transparent 65%, #818a91 65%, #818a91 66%, transparent 66%), linear-gradient(90deg, transparent 32%, #818a91 32%, #818a91 33%, transparent 33%), -webkit-linear-gradient(top, #95cae9, #4993d0);
}
#oil .arrow {
  position: absolute;
  top: 35px;
  left: 50%;
  margin-left: -8px;
  width: 0px;
  height: 0px;
  border: 8px solid transparent;
  border-bottom-color: red;
  border-bottom-width: 50px;
  transform: rotate(-90deg);
  transform-origin: 9px 67px;
  -webkit-animation-name: 'oil';
  /*动画名称*/
  -webkit-animation-duration: 3s;
  /*播放一次所持续时间*/
  -webkit-animation-fill-mode: forwards;
  /*动画结束状态*/
  -webkit-animation-timing-function: linear;
  /*动画播放频率*/
  -webkit-animation-iteration-count: infinite;
  /*动画播放次涒为无限次*/
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: paused;
}
#oil:hover .arrow {
  -webkit-animation-play-state: running;
}
@-webkit-keyframes 'oil' {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
#carbg {
  height: 400px;
  position: relative;
  background-image: linear-gradient(0deg, transparent 15%, #6b6a70 15%, #6b6a70 17%, #ffffff 17%, #ffffff 18%, #6b6a70 18%, #6b6a70 50%, #ffffff 50%, #ffffff 51%, #6b6a70 51%, #6b6a70 53%, transparent 53%);
}
#carbg:after {
  height: 0px;
  border-top: 4px dashed #fff;
  margin-top: -15px;
}
#car {
  width: 300px;
  height: 180px;
  position: relative;
  margin: 100px auto 0;
  border-radius: 300px 300px 0 0;
  background-color: #88bcc7;
  background-image: linear-gradient(0deg, #0a4b5f 10%, transparent 10%), radial-gradient(circle at -5px 74%, #bdd5d9 5%, #337180 5%, #337180 6%, transparent 6%), radial-gradient(circle at 303px 74%, #bdd5d9 5%, #337180 5%, #337180 6%, transparent 6%), radial-gradient(circle at 21% 94%, #000000 15%, transparent 15%), radial-gradient(circle at 78% 94%, #000000 15%, transparent 15%), radial-gradient(circle at -35% 100%, #a3d2dc 38%, #7bb4bf 38%, #7bb4bf 48%, transparent 48%), radial-gradient(circle at 135% 100%, #a3d2dc 38%, #7bb4bf 38%, #7bb4bf 48%, transparent 48%), radial-gradient(circle at 50% 80%, transparent 65%, #3d818e 65%), linear-gradient(0deg, #7bb4bf, #a3d2dc);
}
#car:after {
  width: 240px;
  height: 90px;
  position: absolute;
  top: 25px;
  left: 50%;
  margin-left: -120px;
  border-bottom: 2px solid #3d818e;
  background-image: linear-gradient(90deg, transparent 49%, #3d818e 49%, #3d818e 52%, transparent 52%), radial-gradient(circle at 50% 135%, #f4f7fc 70%, #3d818e 70%, transparent 72%);
}
#car .lun {
  position: absolute;
  top: 135px;
  -webkit-animation-name: 'carrun';
  /*动画名称*/
  -webkit-animation-duration: 3s;
  /*播放一次所持续时间*/
  -webkit-animation-timing-function: linear;
  /*动画播放频率*/
  -webkit-animation-iteration-count: infinite;
  /*动画播放次涒为无限次*/
  -webkit-animation-play-state: paused;
}
#car .lun:after {
  width: 53px;
  height: 53px;
  line-height: 50px;
  border-radius: 50%;
  content: "★";
  color: #fff;
  font-size: 50px;
  background: #000;
  border: 8px solid #fff;
}
#car .lun:nth-child(2) {
  left: 29px;
}
#car .lun:nth-child(1) {
  right: 29px;
}
#car:hover .lun {
  -webkit-animation-play-state: running;
}
@-webkit-keyframes 'carrun' {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#room {
  width: 170px;
  height: 140px;
  background-image: radial-gradient(circle at 50% 120%, rgba(0, 0, 0, 0.7) 23%, rgba(0, 0, 0, 0) 48%), linear-gradient(30deg, rgba(0, 0, 0, 0.4) 10%, rgba(0, 0, 0, 0) 20%), radial-gradient(circle at 50% 33%, #f8f6f7 32%, rgba(255, 255, 255, 0) 32%), radial-gradient(circle at -13% 55%, #f8f6f7 20%, rgba(255, 255, 255, 0) 20%), radial-gradient(circle at 113% 55%, #f8f6f7 20%, rgba(255, 255, 255, 0) 20%), linear-gradient(to bottom, #ef0015 20%, #b2000c 100%);
  border-radius: 140px 140px 80px 80px;
}
#star {
  background-image: -webkit-radial-gradient(transparent 80%, #ffffff 100%, #ffffff);
  background-position: 10px 20px;
  background-size: 32px 32px;
}
